.selectBtn {
  background-color: #f8f8f8;
  font-size: 13px;
  font-weight: 600;
  color: black;
  padding: 4px 10px 4px 10px;
}

.table-container {
  width: 65vw;
}

@media (max-width: 760px) {
  .table-container {
    width: 100%;
  }
}


/* -----------------details design------------- */

.orderDetailView {
  /* padding: 2rem; */
  width: 100%;
  /* background-color: #f9f9f9; */
}

.commonStyleText{
  font-size: 13px;
  font-weight: 400;
  color: rgb(119, 119, 119);
}


.sameline{
  white-space: nowrap;
  padding-right: 30px;
}

.orderDetailView h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.orderDetailView .selectBtn {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.orderDetailView .selectBtn:hover {
  background-color: #0056b3;
}

.orderSummary {
  margin-bottom: 2rem;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.orderSummary div {
  margin-bottom: 0.5rem;
}

.orderTotalSummary {
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
}

.orderTotalSummary div {
  margin-bottom: 0.5rem;
}

.orderAddress {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
}

.orderAddress h3 {
  margin-bottom: 0.5rem;
}

.orderAddress div {
  padding: 1rem;
  background-color: white;
  border: 1px solid #ddd;
  width: 48%;
}


.loader {
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background:  #021669;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #be0602, #021669);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}


/* new secondDivStyle css below here */
.secondDivStyle{
  border: 2px solid #e7e7e7;
  padding: 29.5px;
}
.yourOrderText{
  font-size: 16px;
  font-weight: 700;
  color:rgb(34, 37, 41) ;
}
.yourOrderText1{
  font-size: 15px;
  font-weight: 700;
  border-bottom: 1px solid #e7e7e7;
  color:rgb(34, 37, 41) ;
}

.yourOrderText2{
  font-size: 15px;
  font-weight: 700;
  color:rgb(34, 37, 41) ;
}
.thirdDivstyle{
  border-bottom: 1px solid #e7e7e7;
}

.productNameStyle{
  font-size: 15px;
  color: rgb(34, 37, 41);
  font-weight: 500;
  padding: 1px;
  white-space: pre-wrap;
}
.productNameStyle:hover{
  color: #007bff;
  font-weight: 600;
  cursor: pointer;
}

.favNameStyle{
  font-size: 13px;
  padding: 4.5px;
  margin-top: -20px;
  color: rgb(153, 153, 153);
  font-weight: 500;
}