.newMainStyle {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: "10px";
}
.leftNewStyle {
  order: 0;
  width: 15%;
}
.leftNewStyle1 {
  order: 0;
  width: 25%;
}
.centerNewStyle {
  order: 1;
  width: 82.5%;
  position: relative;
  left: 9.5px;
  margin-top: 4.5px;
}
.centerNewStyle1 {
  order: 0;
  width: 50%;
  position: relative;
  /* left: 0.5px; */
  /* margin-top: 4.5px; */
  height: auto;
}
/* .gifSliders{
order: 0;
  width: 50%;
  position: relative;
  left: 0.5px;
  margin-top: 4.5px;
}
.gifSliders1{
order: 1;
  width: 50%;
  position: relative;
  left: 0.5px;
  margin-top: 4.5px;
} */
.emptyDiv {
  order: 2;
  width: 0px;
}
.rightNewStyle {
  order: 3;
  width: 15%;
}
.rightNewStyle1 {
  order: 3;
  width: 25%;
}
.mainContainerStyle {
  gap: 19px;
  display: flex;
  margin: auto;
  justify-content: space-between;
}
.mainContainerStyle1 {
  gap: 19px;
  display: flex;
  margin: auto;
  justify-content: space-between;
  /* height: 36.6vh; */
}
.leftDivStyle {
  order: 0;
}
.rightDivStyle {
  order: 3;
}
@media screen and (max-width: 768px) {
  .leftDivStyle {
    order: 2;
  }
  .rightDivStyle {
    order: 3;
  }
  .categoryStyle {
    grid-template-columns: repeat(2, 1fr);
  }
  .mainContainerStyle {
    display: flex;
    margin-top: 0px;
    padding: -3px;
  }
  .centerNewStyle {
    width: 86%;
    position: relative;
    top: 3px;
  }
  .centerNewStyle1 {
    width: 100%;
    position: relative;
    top: 3px;
  }
  .mainContainerStyle1 {
    display: flex;
    margin-top: 0px;
    padding: -3px;
  }
}
@media screen and (max-width: 430px) {
  .newMainStyle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .emptyDiv {
    order: 1;
  }
  .leftNewStyle {
    order: 2;
    width: 40%;
  }
  .centerNewStyle {
    order: 0;
    width: 90%;
    position: relative;
    left: 19px;
  }
  .rightNewStyle {
    order: 3;
    width: 40%;
    margin-bottom: 10px;
    row-gap: 2px;
  }
  .mainContainerStyle {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    row-gap: 6px;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
  }
  .mainContainerStyle1 {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    row-gap: 6px;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
  }
}
.categSectionStyle {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}
.categSectionStyle1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
}
@media (max-width: 780px) {
  .categSectionStyle {
    grid-template-columns: repeat(2, 1fr);
  }
  .categSectionStyle1 {
    grid-template-columns: repeat(2, 1fr);
  }
}
.categSectionStyle2 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
@media (max-width: 780px) {
  .categSectionStyle2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .categSectionStyle2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .categoryStyle {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
.categoryStyle {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 13px;
}
/* Media query for screens smaller than 768px (tablets, small devices) */
@media (max-width: 768px) {
  .categoryStyle {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 768px) {
  .mainContainerStyle1 {
    flex-direction: column;
    gap: 19px;
    justify-content: space-between;
    display: flex;
  }
  .centerNewStyle1 {
    width: 100%;
    margin-bottom: 10px;
  }
  .leftNewStyle1,
  .rightNewStyle1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
  }
}
.mainSliders {
  display: flex;
  flex-direction: row;
  column-gap: 8px;
  padding: 3px;
}

.gifSliders,
.gifSliders1 {
  width: 50%;
  position: relative;
  left: 0.5px;
  margin-top: 4.5px;
}

@media (max-width: 1024px) {
  .mainSliders {
    display: block;
    width: 100%;
  }

  .gifSliders {
    order: 0;
    width: 100%;
    margin-top: 0;
    left: 0;
  }

  .gifSliders1 {
    order: 1;
    width: 100%;
    margin-top: 8px;
    left: 0;
  }
}
